<div class="wrapper">
    <div class="page-header clear-filter" filter-color="black">
        <div class="page-header-image rellax-header" data-rellax-speed="-7"
            style="background-image: url('assets/img/mainimage.png');">

        </div>
        <div class="container">
            <div class="content-center brand">
                <img class="n-logo" src="assets/img/logo-as.png" alt="">
                <h2 class="h1-seo">A conexão ideal para cada veículo.</h2>
                <h3>Redefinindo a relação entre você, seu veiculo e quem cuida dele.</h3>

                <div class="col-md-12">
                    <button class="btn btn-primary btn-simple btn-round btn-lg" type="button"
                        (click)="scrollTo('appbg')">
                        Tenho um veículo
                    </button>
                    <button class="btn btn-primary btn-round btn-lg" [routerLink]="['/public/register']"
                        type="button">Tenho uma Empresa</button>
                </div>

            </div>
        </div>
       
    </div>
    <div id="appbg">
        <img src="assets/img/appbackground.png" alt="App background">
         <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a [routerLink]="['/index']">
                            Início
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/public/landing']">
                            Sobre nós
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://wwww.instagram.com/autosafeapp">
                            Instagram
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}},
                <a href="mailto:contato@exemplo.com" target="_blank">contato@autosafeapp.com.br</a>. Desenvolvido por
                <a href="">Collareda Serviços de Tecnologia LTDA</a>.
            </div>
        </div>
    </footer>
    </div>