<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8"
            style="background-image: url('assets/img/bgquemsomos.png');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Autosafe: Seu Guia Confiável no Mundo Automotivo.</h1>
                <div class="text-center">
                    <a href="https://www.linkedin.com/company/autosafeapp"  target="_blank" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://www.instagram.com/autosafeapp/" target="_blank" class="btn btn-primary btn-icon btn-round">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ml-auto mr-auto text-center">
                    <h2 class="title">Quem somos?</h2>
                    <h5 class="description">Em um universo onde a complexidade dos veículos e a variedade de serviços
                        automotivos podem gerar incertezas, muitos proprietários se sentem inseguros ao lidar com a
                        manutenção de seus carros. A dúvida sobre o diagnóstico, o custo justo do serviço e o receio de
                        "ser passado para trás" são, infelizmente, preocupações comuns.</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left"
                            style="background-image: url('assets/img/landing2.png')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">
                                "Sonhamos com um futuro onde nenhum motorista se sinta vulnerável ou desinformado ao
                                cuidar de seu veículo. O Autosafe aspira ser o companheiro digital indispensável para
                                todos, construindo uma comunidade onde a confiança e a transparência são as molas
                                mestras nas relações automotivas"
                                <br>
                                <br>
                                <small>-Alex Michelim Collareda</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/landing3.png')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right"
                            style="background-image: url('assets/img/landing1.png')"></div>
                        <h3>Nossa História e Missão 🚀</h3>
                        <p>
                            Foi dessa percepção que nasceu o Autosafe. Idealizado e fundado por Alex Michelim Collareda,
                            um engenheiro de software e empreendedor com vasta experiência, o projeto é fruto de uma
                            paixão por tecnologia e pela resolução de problemas práticos do dia a dia.

                        </p>
                        <p>
                            Com um histórico de atuação em grandes e renomadas empresas de tecnologia ao redor do mundo,
                            Alex trouxe para o Autosafe uma visão apurada e um profundo conhecimento em desenvolvimento
                            de software, sempre com um olhar focado nas mais recentes inovações tecnológicas.
                        </p>

                        <p>
                            Nossa missão é clara e essencial: capacitar cada proprietário de veículo com o conhecimento
                            e a confiança necessários para tomar decisões informadas e seguras sobre a saúde e
                            manutenção de seu carro. Queremos transformar a forma como você interage com o universo
                            automotivo, tornando-a mais transparente, justa e livre de preocupações.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title">Nosso time</h2>
            <div class="team">
                <div class="row">

                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/phalex.jpg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Alex Collareda</h4>
                            <p class="category text-primary">CEO</p>
                            <p class="description">
                                Engenheiro de software Java e empreendedor, criador do aplicativo Autosafe e
                                proprietário do Mel Pet Spa
                                focado em usar a inteligência artificial para impulsionar seus projetos.
                            </p>
                            <a href="https://www.instagram.com/alexcollareda/"
                                class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/alexcollareda/"
                                class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/phalex.jpg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Gustavo Collareda</h4>
                            <p class="category text-primary">Engenheiro de Software</p>
                            <p class="description">
                                Desenvolvedor que respira tecnologia, impulsionado por uma paixão
                                genuína por construir soluções eficientes e escaláveis. Com foco na excelência e uma
                                sede constante por inovação.
                            </p>
                            <a href="https://www.instagram.com/_collareda/"
                                class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.linkedin.com/in/gustavo-collareda-de-oliveira-santos-492356248/"
                                class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Want to work with us?</h2>
            <p class="description">Your project is very important to us.</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Left Font Awesome Icon"
                            (focus)="focus=true" (blur)="focus=false">
                    </div>
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="now-ui-icons ui-1_email-85"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Left Font Awesome Icon"
                            (focus)="focus1=true" (blur)="focus1=false">
                    </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80"
                            placeholder="Type a message..."></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a [routerLink]="['/index']">
                            Início
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/public/landing']">
                            Sobre nós
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.instagram.com/autosafeapp/">
                            Instagram
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}},
                <a href="mailto:contato@exemplo.com" target="_blank">contato@autosafeapp.com.br</a>. Desenvolvido por
                <a href="">Collareda Serviços de Tecnologia LTDA</a>.
            </div>
        </div>
    </footer>
</div>