<div class="page-header" filter-color="black">
    <div class="page-header-image" style="background-image:url(assets/img/backgroundlogin.png)"></div>
    <div class="container">
        <div class="col-md-2 content-center">
            <div class="card card-login card-plain">
                <div *ngFor="let alert of alerts">
                    <ngb-alert [type]="alert.type" [dismissible]="false">
                        <div class="container">
                            <div class="alert-wrapper">
                                <button type="button" name="button" class="close" (click)="closeAlert(alert)">
                                    <span aria-hidden="true">
                                        <i class="now-ui-icons ui-1_simple-remove"></i>
                                    </span>
                                </button>
                                <div class="message">
                                    <ng-container *ngIf="alert.icon">
                                        <div class="alert-icon">
                                            <i class="now-ui-icons {{alert.icon}}"></i>
                                        </div>
                                    </ng-container>
                                    <strong>{{alert.strong}} </strong>{{ alert.message }}
                                </div>
                            </div>
                        </div>
                    </ngb-alert>
                </div>
                <form class="form" method="" action="">
                    <div class="content" id="step1" *ngIf="step === 1">
                        <h4>Você está perto de garantir a visibilidade que seu negócio merece.</h4>
                        <br />
                        <p class="category">Dados da Empresa</p>
                        <div class="row">
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="cnpj" [(ngModel)]="cnpj" (blur)="onCnpjBlur()" maxlength="14" placeholder="Digite seu CNPJ" class="form-control" mask="00000000000000" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="razaoSocial" [(ngModel)]="razaoSocial" placeholder="Razao Social" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="nomeFantasia" [(ngModel)]="nomeFantasia" placeholder="Nome Fantasia" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="email" [(ngModel)]="email" placeholder="E-Mail" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="telefone" [(ngModel)]="telefone" placeholder="Telefone" mask="(00) 00000-0000"/>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="celular" [(ngModel)]="celular" placeholder="Celular"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content" id="step2" *ngIf="step === 2">
                        <h4>Sua visibilidade cresce a partir daqui.</h4>
                        <br />
                        <p class="category">Endereco</p>
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="cep" [(ngModel)]="cep" maxlength="8" (blur)="buscarCep()" placeholder="CEP" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="rua" [(ngModel)]="rua" placeholder="Rua" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="numero" [(ngModel)]="numero" placeholder="Numero" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="bairro" [(ngModel)]="bairro" placeholder="Bairro" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="cidade" [(ngModel)]="cidade" placeholder="Cidade" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="estado" [(ngModel)]="estado" placeholder="Estado" class="form-control" />
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="content" id="step2" *ngIf="step === 3">
                        <h4>Selecione aqui suas especialidades e serviços oferecidos.</h4>
                        <br />
                        <p class="category">Servicos</p>
                        <div class="row mb-3" *ngIf="companyTypes.length > 0">
                            <div class="col-12">
                                <p class="category">Selecione o(s) tipo(s) de empresa:</p>
                                <div class="d-flex flex-wrap gap-2">
                                    <button *ngFor="let type of companyTypes"
                                            class="btn btn-primary btn-round"
                                            type="button"
                                            [ngbTooltip]="type.description"
                                            [ngClass]="{'active': isCompanyTypeSelected(type.id),
                                                            'btn-simple': !isCompanyTypeSelected(type.id)
                                                          }"
                                            (click)="toggleCompanyType(type.id)">
                                        <ng-container *ngIf="isCompanyTypeSelected(type.id)">
                                            <i class="now-ui-icons ui-1_check"></i>
                                        </ng-container>
                                        {{ type.name }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content-center" id="step2" *ngIf="step === 4">
                        <h4>Defina sua Senha de Acesso.</h4>
                        <br />
                        <p class="category">Seu acesso</p>
                        <div class="row content-center">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" [(ngModel)]="password" maxlength="14" placeholder="Digite sua senha" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password2" [(ngModel)]="password2" maxlength="14" placeholder="Confirme sua senha" class="form-control" />
                                </div>
                            </div>
                        </div>

                        <h6>
                            Inclua letras e numeros
                        </h6>
                        <h6>
                            Deve conter no minimo 6 caracteres
                        </h6>
                    </div>

                    <div class="content-center" id="step2" *ngIf="step === 5">
                        <h4>Parabéns, Cadastro Concluído!</h4>
                        <br />
                        <p class="category">sua empresa, no controle</p>
                        
                        <h6>
                            Prepare-se para elevar sua empresa com Autosafe.
                        </h6>
                     </div>


                    <div class="footer">
                        <div class="col-md-12">

                            <button *ngIf="step > 1 && step < 5"
                                    type="button"
                                    class="btn btn-primary btn-simple btn-round btn-lg"
                                    (click)="backStep()">
                                Voltar
                            </button>
                            <button *ngIf="step <= 4" type="button"
                                    class="btn btn-primary btn-round btn-lg"
                                    (click)="nextStep()">
                                {{ buttonDescription }}
                            </button>
                            <button *ngIf="step === 5"
                                    type="button"
                                    class="btn btn-primary btn-round btn-lg"
                                    [routerLink]="['/examples/login']">
                                    Acessar Minha Conta
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
    </footer>
</div>
