<div class="section section-basic">
    <br/>
    <br/>
    <div class="container">
        <div id="inputs">
            <h4 *ngIf="!service">Novo serviço</h4>
            <h4 *ngIf="service">Alterar serviço</h4>
            <p class="category">Configure seu servico</p>
            <br/>
            <br/>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                         <p>Titulo</p>
                        <input type="text" [(ngModel)]="service.title" placeholder="Titulo" class="form-control" />
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                         <p>Descricao</p>
                        <input type="text" [(ngModel)]="service.description" placeholder="Descricao" class="form-control" />
                    </div>
                </div>

               <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <p>Preco</p>
                        <input type="text" [(ngModel)]="service.price" placeholder="Preco" class="form-control" />
                    </div>
                </div>


            </div>
        </div>
    </div>