<div class="section section-basic">
    <div class="container">
        <h3 class="title">Basic Elements</h3>
        <div id="inputs">
            <h4>Bem vindo, {{companyName}}</h4>
            <p class="category"></p>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-12 ml-auto col-xl-12 mr-auto">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <!-- Aqui se inicia um novo card, deve ser feito o ngFor aqui-->
                            <div class="card">
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <div class="content">
                                            <p style="font-size: 30px;"><i class="now-ui-icons ui-1_zoom-bold" style="font-size: 25px;"></i> Visualizacoes</p>
                                        </div>
                                        
                                        <div>
                                            <p class="category" style="font-size: 60px;">32<a class="category" style="font-size: 15px;"> Acessos hoje </a></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <!-- Aqui se inicia um novo card, deve ser feito o ngFor aqui-->
                            <div class="card">
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <div class="content">
                                            <p style="font-size: 30px;"><i class="now-ui-icons gestures_tap-01" style="font-size: 25px;"></i> Cliques no Ligar</p>
                                        </div>
                                       
                                        <div>
                                            <p class="category" style="font-size: 60px;">0<a class="category" style="font-size: 15px;">  ligacoes </a></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <!-- Aqui se inicia um novo card, deve ser feito o ngFor aqui-->
                            <div class="card">
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <div class="content">
                                            <p style="font-size: 30px;"><i class="now-ui-icons sport_trophy" style="font-size: 25px;"></i> Sua Nota</p>
                                        </div>
                                        
                                        <div>
                                            <p class="category" style="font-size: 60px;">5/5<a class="category" style="font-size: 15px;"> 15 avaliacoes </a></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                          <div class="col-lg-4 col-md-4 col-sm-12">
                            <!-- Aqui se inicia um novo card, deve ser feito o ngFor aqui-->
                            <div class="card">
                                <div class="nav-tabs-navigation">
                                    <div class="nav-tabs-wrapper">
                                        <div class="content">
                                            <p style="font-size: 30px;"><i class="now-ui-icons ui-2_settings-90" style="font-size: 25px;"></i> Servicos</p>
                                        </div>
                                        
                                        <div>
                                            <p class="category" style="font-size: 60px;">2<a class="category" style="font-size: 15px;"> Ativos </a></p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>